<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <title>Game Zone</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/content/logo.png">

    <link rel="stylesheet" href="~/css/style_index.css">
    <link rel="stylesheet" href="~/css/style_main/style_main_filters.css">
    <link rel="stylesheet" href="~/css/style_main/style_main_slot_machine.css">
    <link rel="stylesheet" href="~/css/style_main/style_main_buttons.css">
    <link rel="stylesheet" href="~/css/style_main/style_main_partners.css">

    <link rel="stylesheet" href="~/css/style_graphs.css">
    <link rel="stylesheet" href="~/css/style_diagram.css">
    <link rel="stylesheet" href="~/css/style_add_slot_machine.css">
    <link rel="stylesheet" href="~/css/style_edit_date.css">

</head>

<body>

    @RenderBody()

    <script src="~/js/script_filters.js"></script>
    <script src="~/js/script_update.js"></script>
    <script src="~/js/script_graphs.js"></script>
    <script src="~/js/script_add_slot_machine.js"></script>
    <script src="~/js/script_diagram.js"></script>
    <script src="~/js/script_partners.js"></script>

</body>

</html>