@font-face {
	font-family: 'Comfortaa';
	src: url('Comfortaa.ttf') format('truetype');
}

#diagram {
	display: none;
	position: fixed;
	background: white;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 350px;
	transform: translate(-50%, -50%);
	padding: 30px;
	border: 1px solid gray;
	border-radius: 5px;
}

#diagram_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

#diagram_header p {
	display: inline-block;
	font-family: 'Comfortaa';
	font-size: 14px;
	color: grey;
	margin: 0;
}

#close_diagrams_button {
	display: inline-block;
	background-color: rgb(255, 230, 230);
	font-family: 'Comfortaa';
	font-size: 12px;
	color: rgb(204, 68, 68);
	height: 25px;
	width: 30px;
	border: 1px solid rgb(204, 68, 68);
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#close_diagrams_button:hover {
	background-color: rgb(204, 68, 68);
	color: white;
}

#close_diagrams_button:active {
	background-color: rgb(148, 13, 13);
	border-color: rgb(148, 13, 13);
	color: white;
}

#diagram_canvas_container {
	display: flex;
}

#diagram_canvas_info {
	width: 50px;
	padding-top: 6px;
}

#diagram_canvas_info label {
	display: block;
	font-family: 'Comfortaa';
	text-align: right;
	font-size: 12px;
	color: grey;
	padding-top: 17px;
}

.diagram_type {
	font-family: 'Comfortaa';
	font-size: 12px;
	color: grey;
	cursor: pointer;
}

#diagram_type_1 {
	margin-left: 112px;
}

#diagram_type_2 {
	margin-left: 44px;
}

#diagram_type_3 {
	margin-left: 34px;
}

#diagram_type_4 {
	margin-left: 18px;
}

#diagram_ui {
	margin-top: 30px;
	margin-left: 30px;
}

.diagram_ui_period {
	display: inline-block;
	font-family: 'Comfortaa';
	font-size: 10px;
	color: black;
	padding: 0 5px;
}

#diagram_ui input[type="date"] {
	background-color: #f8f8f8;
	font-family: 'Comfortaa';
	font-size: 12px;
	color: #333;
	padding: 5px 5px 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#diagram_ui_update_button {
	background-color: white;
	font-family: 'Comfortaa';
	font-size: 10px;
	color: black;
	text-transform: uppercase;
	margin-left: 25px;
	padding: 10px 20px;
	border: 2px solid rgb(50, 50, 50);
	cursor: pointer;
	transition: all 0.3s ease;
}

#diagram_ui_update_button:hover {
	background-color: rgb(50, 50, 50);
	color: white;
}

#diagram_ui_update_button:active {
	background-color: rgb(70, 70, 70);
	transform: translateY(2px);
	color: white;
}